<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongdu.vo.Emp">
	<!-- 多对一  多个员工对应一个部门 -->
	<select id="findEmpManytoOne" resultMap="findmap">
	    SELECT * FROM emp e,dept d WHERE e.deptno=d.deptno
	</select>
	<!--resultmap用于多表-->
	<resultMap type="Emp" id="findmap">
		<!--type 指定返回类型-->
	    <id property="eid" column="empno"/>
	    <result property="ename" column="ename"/>
	    <result property="job" column="job"/>
	    <association property="dept" javaType="Dept">
			<!--配置关联属性，javaType指定实体类-->
	        <id property="did" column="deptno"/>
	        <result property="dname" column="dname"/>
	    </association>
	</resultMap>
	
	<!--多对一第二种方式  -->
	<select id="findEmpManytoOne2"   resultMap="findmap2">
	  select * from emp 
	</select>
	<resultMap type="Emp" id="findmap2">
	    <id property="eid" column="empno"/>
	    <result property="ename" column="ename"/>
	    <result property="job" column="job"/>
	    <association property="dept" column="deptno" javaType="Dept" select="selectDept"></association>
		<!--select指定另一表的sql-->
	</resultMap>
	<select id="selectDept" parameterType="int" resultType="Dept">
	  select deptno did,dname from dept where deptno=#{deptno}
-- 	  属性名与字段名要一致
	</select>
	
	<!-- 一对多  一个部门下的多个员工 -->
	<select id="findDeptOnetoMany" parameterType="int" resultMap="onefind">
	SELECT * FROM emp e,dept d WHERE e.deptno=d.deptno AND d.deptno=#{deptno};
	</select>
	<resultMap type="Dept" id="onefind">
	   <id property="did" column="deptno"/>
	   <result property="dname" column="dname"/>
	   <collection property="empList" ofType="Emp">
		   <!--ofType 指定返回类型-->
	       <id property="eid" column="empno"/>
	       <result property="ename" column="ename"/>
	       <result property="job" column="job"/>
	   </collection>
	</resultMap>

	<!-- 一对多 第二种方式  -->
	<select id="findDeptOnetoMany2" parameterType="int" resultMap="onefind2">
	   select * from dept where deptno=#{did}
	</select>
	<resultMap type="Dept" id="onefind2">
	  <id property="did" column="deptno"/>
	  <result property="dname" column="dname"/>
	  <collection property="empList" column="deptno" select="selectOnetoMany"></collection>
		<!--select 引用另一个sql-->
	</resultMap>
	<select id="selectOnetoMany" parameterType="int" resultType="Emp">
	  select empno eid,ename,job from emp where deptno=#{did}
	</select>
</mapper>